.modal-form {
    align-items: center;
    background-color: var(--red-tp);
    background-repeat:no-repeat;
    background-position: top left;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100vw;
}
.register { background-image: url('../../register_text.svg') }
.signin   { background-image: url('../../login_text.svg')    }
.modal-form form {
    background-color: #00000000;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    gap: 10px;
    width: calc(fit-content + 20px)
}
.modal-form form label {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
.modal-form form input {
    background-color: var(--navy);
    color: white;
    border: none;
    font-size: 1.25em;
    padding: 0 5px;
    width: 100%;
}
.modal-form form input:focus {
    outline: none;
}
.modal-form .form-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.modal-form .errors {
    color: var(--red);
}