.profile-dropdown {
  position: absolute;
}
#splash-nav {
  align-items: center;
  background-color: var(--red-tp);
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
  width: 100vw;
}
#splash-actions {
  align-items: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
  width: fit-content;
}
/* #nav-login, #nav-register {
  background-color: #333;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 0 10px;
  width: 10vw;
} */

#user-nav {
  align-items: center;
  background-color: var(--red-tp);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 10px 0 20px 0;
  width: fit-content
}
#server-list {
  align-items: flex-start;
  background-color: #00000055;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 80vh;
  justify-content: flex-start;
  margin: 10px 0;
  overflow-y: scroll;
  padding: 10px;
}
#server-list::-webkit-scrollbar {
  width: 5px;
}
#server-list::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 5px;
}
#server-list::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
